# This workflow will build a project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: CI with Gradle

on:
  [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Grant write permission for database
        run: chmod a+w ./database/piradio.*
      - name: Check permissions
        run: ls -l ./database/piradio.*
      - name: Build with Gradle
        run: ./gradlew build -x test
# Builds fine local but not in a workflow
#      - name: Build dependencyCheck
#        run: ./gradlew dependencyCheckAnalyze
